.features__list {
  padding: 0;
  @extend %list--style;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__item {
  text-align: center;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.features__subtitle {
  margin-bottom: 10px;
  text-align: center;
  @include font($primary-font, 14px, bold, 0.03em, 1.143, $primary-text-color);
  text-transform: uppercase;
}

.features__text {
  text-align: left;
  // margin: 0;
  @include font(
    $primary-font,
    14px,
    normal,
    0.03em,
    1.714,
    $secondary-text-color
  );
}

.features__icon {
  @include flexCentered(flex, center, center);
  text-align: center;
  list-style: none;
  margin-bottom: 30px;

  // max-width: 450px;
  // height: 120px;
  background: $portfolio-button;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}
