.header-contacts {
  @extend %list--style;
  display: flex;
  flex-direction: column;
  align-items: center;

  // @include flexCentered(flex, null, center);
  margin-left: 75px;
  padding-left: 0;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 305px;
  }
}

.header-contacts__link {
  text-decoration: none;
  @include font($primary-font, 12px, 500, 0.02em, 1.167, $secondary-text-color);

  @media screen and (min-width: 1200px) {
    @include font(
      $primary-font,
      14px,
      500,
      0.02em,
      1.143,
      $secondary-text-color
    );
    padding-top: 32px;
    padding-bottom: 32px;
    @include flexCentered(flex, null, center);
  }

  @include transition(
    color,
    null,
    null,
    $transition-duration,
    $transition-timing-function
  );

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .header-contacts__icon-email,
  &:hover .header-contacts__icon-phone,
  &:focus .header-contacts__icon-email,
  &:focus .header-contacts__icon-phone {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &--email {
      padding-top: 15px;
    }
    &--phone {
      padding-bottom: 15px;
    }
  }
}

// .header-contacts__link--email {
//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     padding-top: 15px;
//   }
// }

.header-contacts__icon-email {
  width: 14px;
  height: 10px;
  margin-right: 10px;

  @include transition(
    fill,
    null,
    null,
    $transition-duration,
    $transition-timing-function
  );

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.header-contacts__icon-phone {
  width: 10px;
  height: 14px;
  margin-right: 10px;

  @include transition(
    fill,
    null,
    null,
    $transition-duration,
    $transition-timing-function
  );

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.header-contacts__item {
  margin-right: auto;
  // padding-top: 10px;
  // padding-bottom: 10px;
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &--email {
      margin-bottom: 10px;
    }
  }
}
