.logo {
  // display: block;
  // padding-top: 24px;
  // padding-bottom: 24px;

  text-decoration: none;
  @include font($secondary-font, 26px, bold, 0.03em, 1.192, $black-color);
  &--dark {
    color: $primary-white-color;
    // padding-top: 0;
    // padding-bottom: 0;
    // margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
  }

  &--mobile {
    @include font($secondary-font, 24px, bold, 0.03em, 1.167, $black-color);
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.logo > span {
  color: $accent-color;
}
