.portfolio {
  // display: flex;
  // flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  // margin-left: -30px;
  // margin-top: -30px;
  @media screen and (min-width: 767px) {
    @include list(30px, 30px);
    flex-wrap: wrap;
  }
}

.portfolio__item {
  @media screen and (min-width: 767px) {
    @include listItem(30px, 30px, 2, 30px);
    flex-wrap: wrap;
  }
  // flex-basis: calc((100% - 3 * 30px) / 3);
  // margin-left: 30px;
  // margin-top: 30px;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  @include transition(
    box-shadow,
    background-color,
    null,
    $transition-duration,
    $transition-timing-function
  );

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__overley,
  &:focus .portfolio__overley {
    transform: translateY(-100%);
  }
}

.portfolio__card {
  border-right: 1px solid $portfolio-item-hover;
  border-bottom: 1px solid $portfolio-item-hover;
  border-left: 1px solid $portfolio-item-hover;
  padding: 20px 24px;
  border-radius: 0 0 4px 4px;
}

.portfolio__subtitle {
  @include font($primary-font, 18px, bold, 0.06em, 2, $primary-text-color);
  // margin-bottom: 4px;
}

.portfolio__text {
  @include font(
    $primary-font,
    16px,
    normal,
    0.03em,
    1.875,
    $secondary-text-color
  );
}

.portfolio__image {
  display: block;
  width: 100%;
  height: auto;

  &--relative {
    position: relative;
    overflow: hidden;
  }
}

.portfolio__overley {
  position: absolute;
  top: 100%;
  left: 0;

  // padding: 10px 20px;
  // width: 370px;
  // height: 294px;
  background-color: $overley;

  @include transition(
    transform,
    null,
    null,
    $transition-duration,
    $transition-timing-function
  );

  // transition-property: transform;
  // transition-duration: 500ms;
  // transition-delay: 100ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overley-text {
  @include font(
    $primary-font,
    18px,
    normal,
    0.03em,
    1.556,
    $primary-white-color
  );
}
