.subject {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.subject__list {
  display: flex;
  padding-left: 0;
  @extend %list--style;
}

.subject__item {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.subject__overley {
  @include flexCentered(flex, center, center);
  position: absolute;
  bottom: 0;
  left: 0;

  width: 370px;
  height: 70px;
  background-color: $subject-overley;
}

.subject__text {
  @include font($primary-font, 14px, bold, 0.03em, 1.143, $primary-white-color);
  text-align: center;
  text-transform: uppercase;
}
